@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/* Reset */
ul, ol, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.datetime {
    font-weight: 100;
}
h1 {
    font-weight: 300;
    margin: 0;
    font-size: 1.75em;
}
h1 span {
    font-weight: 100;
}

/* General layout */
body, html {
    margin: 0;
    padding: 0;
}
.grid-headline {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.grid-2 {
    display: flex;
    padding: 15px;
    
    & > * {
        flex: 1;
        margin: 15px;
    }
}

main {
    display: flex;

    .deadline-list {
        flex: 2;
    }
    .charts {
        flex: 1;
    }
}

/* Elements */
header {
    background-color: #f0f0f0;
    padding: 15px 30px;
}
.deadline-list {

    li {
        border-bottom: 4px solid #fff;
        display: block;

        .item-head {
            padding: 30px;
            display: block;
            background-color: #FFD000;
            font-size: 1.75em;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            > * {
                flex: 1;
            }
        }
        .item-members {
            display: block;
            padding: 10px 30px;
        }
    }
}

.deadline-item {
    & > * {
        flex: 100%;
    }
    .item-date {
        text-align: center;
        padding: 0 1em;
    }
    .item-timeleft {
        text-align: right;
    }
}

#charts {
    text-align: center;
}
#charts div {
    display: inline-block;
}

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
$size: 100px;
.x, .y {
    width: $size*3;
    height: $size;
}
#screensaver .y {
    background: transparent url(assets/logo.png) no-repeat;
    background-size: 100%;
}
.x {
  animation: x 13s linear infinite alternate;
}
.y {
  animation: y 7s linear infinite alternate;
}
@keyframes x {
  100% {
    transform: translateX( calc(100vw - #{$size*3}) );
  }
}
@keyframes y {
  100% {
    transform: translateY( calc(100vh - #{$size}) );
  }
}